<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zhku.mapper.BillMapper">
	<resultMap type="cn.edu.zhku.pojo.BillEntity" id="BaseResultMap">
		<id column="bill_id" jdbcType="VARCHAR" property="billId" />
	    <result column="bill_amount" jdbcType="FLOAT" property="billAmount" />
	    <result column="bill_date" jdbcType="TIMESTAMP" property="billDate" />
	    <result column="bill_comment" jdbcType="VARCHAR" property="billComment" />
	    <result column="spend_cate_id" jdbcType="VARCHAR" property="spendCateId" />
	    <result column="income_cate_id" jdbcType="VARCHAR" property="incomeCateId" />
	    <result column="user_id" jdbcType="VARCHAR" property="userId" />
	    <result column="cate_num" jdbcType="INTEGER" property="cateNum" />
	   		
	    <association column="spend_cate_id" jdbcType="VARCHAR" property="spendCateEntity"
	            select="cn.edu.zhku.mapper.SpendCateMapper.selectByPrimaryKey" />
	    <association column="income_cate_id" jdbcType="VARCHAR" property="incomeCateEntity"
	            select="cn.edu.zhku.mapper.IncomeCateMapper.selectByPrimaryKey" />
	</resultMap>
	
	<resultMap type="cn.edu.zhku.pojo.SpendCateEntity" id="spendCateResultMap">
		<id column="spend_cate_id" jdbcType="VARCHAR" property="spendCateId" />
	    <result column="spend_cate_name" jdbcType="VARCHAR" property="spendCateName" />
	</resultMap>
	
	<resultMap type="cn.edu.zhku.pojo.IncomeCateEntity" id="incomeCateResultMap">
		<id column="income_cate_id" jdbcType="VARCHAR" property="incomeCateId" />
	    <result column="income_cate_name" jdbcType="VARCHAR" property="incomeCateName" />
	</resultMap>
	<sql id="Base_Column_List">
		bill_id,bill_amount,bill_date,bill_comment,spend_cate_id,income_cate_id,user_id,cate_num
	</sql>
	
	<insert id="addBillInfo" parameterType="BillEntity">
		insert into 
		t_bill(bill_id,bill_amount,bill_date,bill_comment,spend_cate_id,income_cate_id,user_id,cate_num)
		values(#{billId,jdbcType=VARCHAR},#{billAmount,jdbcType=FLOAT},#{billDate,jdbcType=TIMESTAMP},
				#{billComment,jdbcType=VARCHAR},#{spendCateId,jdbcType=VARCHAR},#{incomeCateId,jdbcType=VARCHAR},
				#{userId,jdbcType=VARCHAR},#{cateNum,jdbcType=VARCHAR})
	</insert>

	<insert id="addSpendCate" parameterType="SpendCateEntity">
		insert into t_spend_cate(spend_cate_id,spend_cate_name)
		values(#{spendCateId,jdbcType=VARCHAR},#{spendCateName,jdbcType=VARCHAR})
	</insert>
	<select id="selectAllSpendCate" resultMap="spendCateResultMap">
		select spend_cate_id,spend_cate_name from t_spend_cate
	</select>
	
	<insert id="addIncomeCate" parameterType="IncomeCateEntity">
		insert into t_income_cate(income_cate_id,income_cate_name)
		values(#{incomeCateId,jdbcType=VARCHAR},#{incomeCateName,jdbcType=VARCHAR})
	</insert>
	<select id="selectAllIncomeCate" resultMap="incomeCateResultMap">
		select income_cate_id,income_cate_name from t_income_cate
	</select>
	
	<!-- 查总数 -->
	<select id="selectBillTotalNum" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(*) from t_bill where user_id=#{userId,jdbcType=VARCHAR} and cate_num=#{cateNum,jdbcType=INTEGER}
	</select>
	
	<!-- 分页查询数据 -->
	<select id="selectUserBillPage" parameterType="java.util.Map" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/> 
		from t_bill 
		where user_id=#{userId,jdbcType=VARCHAR} and cate_num=#{cateNum,jdbcType=INTEGER}
		order by bill_date desc
		limit #{start,jdbcType=INTEGER},#{pagesize,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteBillInfo" parameterType="java.lang.String">
		delete from t_bill where bill_id=#{billInfoId,jdbcType=VARCHAR}
	</delete>
</mapper>