<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zhku.mapper.IncomeCateMapper">
	<resultMap type="cn.edu.zhku.pojo.IncomeCateEntity" id="BaseResultMap">
		<id column="income_cate_id" jdbcType="VARCHAR" property="incomeCateId" />
	    <result column="income_cate_name" jdbcType="VARCHAR" property="incomeCateName" />
	</resultMap>
	
	<sql id="Base_Column_List">
		income_cate_id,income_cate_name
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from t_income_cate where income_cate_id=#{incomeCateId,jdbcType=VARCHAR}
	</select>
	
</mapper>