<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zhku.mapper.RecordMapper">
	<resultMap type="cn.edu.zhku.pojo.CourseRecordEntity" id="BaseResultMap">
		<id column="course_id" jdbcType="VARCHAR" property="courseId" />
	    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
	    <result column="course_record" jdbcType="INTEGER" property="courseRecord" />
	    <result column="course_phy_art_cate_name" jdbcType="VARCHAR" property="coursePhyArtCateName" />
	    <result column="course_major_cate_name" jdbcType="VARCHAR" property="courseMajorCateName" />
	    <result column="course_record_date" jdbcType="TIMESTAMP" property="courseRecordDate" />
	    <result column="course_record_user_id" jdbcType="VARCHAR" property="courseRecordUserId" />
	    <result column="course_term_num_str" jdbcType="VARCHAR" property="courseTermNumStr" />
	   		
	</resultMap>
	
	<sql id="Base_Column_List">
		course_id,course_name,course_record,course_phy_art_cate_name,course_major_cate_name,course_record_date,
		course_record_user_id,course_term_num_str
	</sql>
	
	<!-- 查询 所有的 成绩记录  后台管理-->
	<select id="selectAllRecord" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from t_course_record
	</select>
	
	<!-- 分页查询 某个用户的 成绩记录-->
	<select id="selectUserAllRecordPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select 
		<include refid="Base_Column_List"/>
		from t_course_record
		where course_record_user_id=#{userId,jdbcType=VARCHAR}
		order by course_record_date desc
		limit #{start,jdbcType=INTEGER},#{pagesize,jdbcType=INTEGER}
	</select>
	
	<!-- 查询用户的成绩记录总数 -->
	<select id="userRecordTotalNum" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*) from t_course_record 
		where course_record_user_id=#{userId}
	</select>
	<!-- 添加 成绩 -->
	<insert id="addRecordInfo" parameterType="CourseRecordEntity">
		insert into 
		t_course_record(course_id,course_name,course_record,course_phy_art_cate_name,
		course_major_cate_name,course_record_date,course_record_user_id,course_term_num_str)
		values(#{courseId,jdbcType=VARCHAR},#{courseName,jdbcType=VARCHAR},
			#{courseRecord,jdbcType=INTEGER},#{coursePhyArtCateName,jdbcType=VARCHAR},
			#{courseMajorCateName,jdbcType=VARCHAR},#{courseRecordDate,jdbcType=TIMESTAMP},
			#{courseRecordUserId,jdbcType=VARCHAR},#{courseTermNumStr,jdbcType=VARCHAR})
		
	</insert>
	
	<!-- 查询一条成绩信息 -->
	<select id="selectOne" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List"/>
		from t_course_record
		where course_id=#{courseId,jdbcType=VARCHAR} 
	</select>
	
	<delete id="deleteRecoreInfo" parameterType="java.lang.String">
		delete from t_course_record where course_id=#{courseId,jdbcType=VARCHAR}
	</delete>
	
	<!-- 更新数据 包括普通的update 还有 更新密码操作 -->
	<update id="updateRecoreInfo" parameterType="CourseRecordEntity">
		update t_course_record
		<set>
			<if test="courseName!=null and courseName!=''">
				course_name=#{courseName,jdbcType=VARCHAR},
			</if>
			<if test="courseRecord!=null">
				course_record=#{courseRecord,jdbcType=INTEGER},
			</if>
			<if test="coursePhyArtCateName!=null and coursePhyArtCateName!=''">
				course_phy_art_cate_name=#{coursePhyArtCateName,jdbcType=VARCHAR},
			</if>
			<if test="courseMajorCateName!=null and courseMajorCateName!=''">
				course_major_cate_name=#{courseMajorCateName,jdbcType=VARCHAR},
			</if>
			<if test="courseTermNumStr!=null and courseTermNumStr!=''">
				course_term_num_str=#{courseTermNumStr,jdbcType=VARCHAR},
			</if>
		</set>
		where
		course_id=#{courseId,jdbcType=VARCHAR}
	</update>
	
</mapper>